.extenalCSS{
    background-color: darkblue;
}
.container{
    background-color: green;
}

.main1{
    background-color: red;
}

.main2{
    background-color: blue;
}

.main3{
    background-color: orange;
}